h1.1 {
    margin-top: 5pt;
    margin-bottom: 5pt;
    text-align: left;
    font-family: 宋体;
    font-size: 24pt;
    line-height: 108%;
    margin-left: 0;
    margin-right: 0;
    font-style: normal;
    font-weight: bold
}
h2.2 {
    margin-top: 5pt;
    margin-bottom: 5pt;
    text-align: left;
    font-family: 宋体;
    font-size: 18pt;
    line-height: 108%;
    margin-left: 0;
    margin-right: 0;
    font-style: normal;
    font-weight: bold
}
h3.3 {
    margin-top: 5pt;
    margin-bottom: 5pt;
    text-align: left;
    font-family: 宋体;
    font-size: 13.5pt;
    line-height: 108%;
    margin-left: 0;
    margin-right: 0;
    font-style: normal;
    font-weight: bold
}
h4.4 {
    margin-top: 14pt;
    line-height: 156.7%;
    margin-bottom: 14.5pt;
    text-align: justify;
    font-family: 'Calibri Light', 'sans-serif';
    font-size: 14pt;
    margin-left: 0;
    margin-right: 0;
    font-style: normal;
    font-weight: bold
}
ol.List0 {
counter-reset: section01;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List1 {
counter-reset: section11;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List10 {
counter-reset: section101;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List13 {
counter-reset: section131;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ul.List16 {
counter-reset: section161;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ul.List17 {
counter-reset: section171;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ul.List19 {
counter-reset: section191;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List2 {
counter-reset: section21;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List20 {
counter-reset: section201;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List21 {
counter-reset: section211;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List22 {
counter-reset: section221;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List23 {
counter-reset: section231;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List24 {
counter-reset: section241;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List28 {
counter-reset: section281;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List3 {
counter-reset: section31;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List30 {
counter-reset: section301;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List32 {
counter-reset: section321;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List33 {
counter-reset: section331;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List4 {
counter-reset: section41;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ul.List5 {
counter-reset: section51;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
ol.List7 {
counter-reset: section71;
list-style:none;
padding-left: 40px;
margin-left: 0px
}
p.a {
    margin-top: 5pt;
    margin-bottom: 0;
    text-align: justify;
    font-family: Calibri;
    font-size: 10.5pt;
    line-height: 108%;
    margin-left: 0;
    margin-right: 0;
    font-style: normal;
    font-weight: normal
}
p.a3 {
    margin-top: 5pt;
    margin-bottom: 5pt;
    text-align: left;
    font-family: 宋体;
    font-size: 12pt;
    line-height: 108%;
    margin-left: 0;
    margin-right: 0;
    font-style: normal;
    font-weight: normal
}
body {}
ol.List0>li {
 position: relative
}
ol.List0>li::before {
counter-increment: section01;
content:counter(section01,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List0>li::before::before {
width: 40px
}
ol.List0>li::before::before {
margin-right: 4px
}
ol.List0>li::before::before {
left: -44px
}
ol.List0>li::before::before {
left: -44px
}
ol.List0>li::before::before {
left: -44px
}
ol.List0>li::before::before {
left: -44px
}
ol.List10>li {
 position: relative
}
ol.List10>li::before {
counter-increment: section101;
content:counter(section101,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List10>li::before::before {
width: 40px
}
ol.List10>li::before::before {
margin-right: 4px
}
ol.List10>li::before::before {
left: -44px
}
ol.List10>li::before::before {
left: -44px
}
ol.List10>li::before::before {
left: -44px
}
ol.List10>li::before::before {
left: -44px
}
ol.List13>li {
 position: relative
}
ol.List13>li::before {
counter-increment: section131;
content:counter(section131,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List13>li::before::before {
width: 40px
}
ol.List13>li::before::before {
margin-right: 4px
}
ol.List13>li::before::before {
left: -44px
}
ol.List13>li::before::before {
left: -44px
}
ol.List13>li::before::before {
left: -44px
}
ol.List13>li::before::before {
left: -44px
}
ol.List1>li {
 position: relative
}
ol.List1>li::before {
counter-increment: section11;
content:counter(section11,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List1>li::before::before {
width: 40px
}
ol.List1>li::before::before {
margin-right: 4px
}
ol.List1>li::before::before {
left: -44px
}
ol.List1>li::before::before {
left: -44px
}
ol.List1>li::before::before {
left: -44px
}
ol.List1>li::before::before {
left: -44px
}
ol.List20>li {
 position: relative
}
ol.List20>li::before {
counter-increment: section201;
content:counter(section201,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List20>li::before::before {
width: 40px
}
ol.List20>li::before::before {
margin-right: 4px
}
ol.List20>li::before::before {
left: -44px
}
ol.List20>li::before::before {
left: -44px
}
ol.List20>li::before::before {
left: -44px
}
ol.List20>li::before::before {
left: -44px
}
ol.List21>li {
 position: relative
}
ol.List21>li::before {
counter-increment: section211;
content:counter(section211,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List21>li::before::before {
width: 40px
}
ol.List21>li::before::before {
margin-right: 4px
}
ol.List21>li::before::before {
left: -44px
}
ol.List21>li::before::before {
left: -44px
}
ol.List21>li::before::before {
left: -44px
}
ol.List21>li::before::before {
left: -44px
}
ol.List22>li {
 position: relative
}
ol.List22>li::before {
counter-increment: section221;
content:counter(section221,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List22>li::before::before {
width: 40px
}
ol.List22>li::before::before {
margin-right: 4px
}
ol.List22>li::before::before {
left: -44px
}
ol.List22>li::before::before {
left: -44px
}
ol.List22>li::before::before {
left: -44px
}
ol.List22>li::before::before {
left: -44px
}
ol.List23>li {
 position: relative
}
ol.List23>li::before {
counter-increment: section231;
content:counter(section231,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List23>li::before::before {
width: 40px
}
ol.List23>li::before::before {
margin-right: 4px
}
ol.List23>li::before::before {
left: -44px
}
ol.List23>li::before::before {
left: -44px
}
ol.List23>li::before::before {
left: -44px
}
ol.List23>li::before::before {
left: -44px
}
ol.List24>li {
 position: relative
}
ol.List24>li::before {
counter-increment: section241;
content:counter(section241,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List24>li::before::before {
width: 40px
}
ol.List24>li::before::before {
margin-right: 4px
}
ol.List24>li::before::before {
left: -44px
}
ol.List24>li::before::before {
left: -44px
}
ol.List24>li::before::before {
left: -44px
}
ol.List24>li::before::before {
left: -44px
}
ol.List28>li {
 position: relative
}
ol.List28>li::before {
counter-increment: section281;
content:counter(section281,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List28>li::before::before {
width: 40px
}
ol.List28>li::before::before {
margin-right: 4px
}
ol.List28>li::before::before {
left: -44px
}
ol.List28>li::before::before {
left: -44px
}
ol.List28>li::before::before {
left: -44px
}
ol.List28>li::before::before {
left: -44px
}
ol.List2>li {
 position: relative
}
ol.List2>li::before {
counter-increment: section21;
content:counter(section21,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List2>li::before::before {
width: 40px
}
ol.List2>li::before::before {
margin-right: 4px
}
ol.List2>li::before::before {
left: -44px
}
ol.List2>li::before::before {
left: -44px
}
ol.List2>li::before::before {
left: -44px
}
ol.List2>li::before::before {
left: -44px
}
ol.List30>li {
 position: relative
}
ol.List30>li::before {
counter-increment: section301;
content:counter(section301,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List30>li::before::before {
width: 40px
}
ol.List30>li::before::before {
margin-right: 4px
}
ol.List30>li::before::before {
left: -44px
}
ol.List30>li::before::before {
left: -44px
}
ol.List30>li::before::before {
left: -44px
}
ol.List30>li::before::before {
left: -44px
}
ol.List32>li {
 position: relative
}
ol.List32>li::before {
counter-increment: section321;
content:counter(section321,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List32>li::before::before {
width: 40px
}
ol.List32>li::before::before {
margin-right: 4px
}
ol.List32>li::before::before {
left: -44px
}
ol.List32>li::before::before {
left: -44px
}
ol.List32>li::before::before {
left: -44px
}
ol.List32>li::before::before {
left: -44px
}
ol.List33>li {
 position: relative
}
ol.List33>li::before {
counter-increment: section331;
content:counter(section331,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List33>li::before::before {
width: 40px
}
ol.List33>li::before::before {
margin-right: 4px
}
ol.List33>li::before::before {
left: -44px
}
ol.List33>li::before::before {
left: -44px
}
ol.List33>li::before::before {
left: -44px
}
ol.List33>li::before::before {
left: -44px
}
ol.List3>li {
 position: relative
}
ol.List3>li::before {
counter-increment: section31;
content:counter(section31,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List3>li::before::before {
width: 40px
}
ol.List3>li::before::before {
margin-right: 4px
}
ol.List3>li::before::before {
left: -44px
}
ol.List3>li::before::before {
left: -44px
}
ol.List3>li::before::before {
left: -44px
}
ol.List3>li::before::before {
left: -44px
}
ol.List4>li {
 position: relative
}
ol.List4>li::before {
counter-increment: section41;
content:counter(section41,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List4>li::before::before {
width: 40px
}
ol.List4>li::before::before {
margin-right: 4px
}
ol.List4>li::before::before {
left: -44px
}
ol.List4>li::before::before {
left: -44px
}
ol.List4>li::before::before {
left: -44px
}
ol.List4>li::before::before {
left: -44px
}
ol.List7>li {
 position: relative
}
ol.List7>li::before {
counter-increment: section71;
content:counter(section71,decimal)".";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ol.List7>li::before::before {
width: 40px
}
ol.List7>li::before::before {
margin-right: 4px
}
ol.List7>li::before::before {
left: -44px
}
ol.List7>li::before::before {
left: -44px
}
ol.List7>li::before::before {
left: -44px
}
ol.List7>li::before::before {
left: -44px
}
span { white-space: pre-wrap
}
ul.List16>li {
 position: relative
}
ul.List16>li::before {
counter-increment: section161;
content:counter(bullet,disc);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ul.List16>li::before::before {
width: 40px
}
ul.List16>li::before::before {
margin-right: 4px
}
ul.List16>li::before::before {
left: -44px
}
ul.List16>li::before::before {
left: -44px
}
ul.List16>li::before::before {
left: -44px
}
ul.List16>li::before::before {
left: -44px
}
ul.List17>li {
 position: relative
}
ul.List17>li::before {
counter-increment: section171;
content:counter(bullet,disc);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ul.List17>li::before::before {
width: 40px
}
ul.List17>li::before::before {
margin-right: 4px
}
ul.List17>li::before::before {
left: -44px
}
ul.List17>li::before::before {
left: -44px
}
ul.List17>li::before::before {
left: -44px
}
ul.List17>li::before::before {
left: -44px
}
ul.List19>li {
 position: relative
}
ul.List19>li::before {
counter-increment: section191;
content:counter(bullet,disc);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ul.List19>li::before::before {
width: 40px
}
ul.List19>li::before::before {
margin-right: 4px
}
ul.List19>li::before::before {
left: -44px
}
ul.List19>li::before::before {
left: -44px
}
ul.List19>li::before::before {
left: -44px
}
ul.List19>li::before::before {
left: -44px
}
ul.List5>li {
 position: relative
}
ul.List5>li::before {
counter-increment: section51;
content:counter(bullet,disc);
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden
}
ul.List5>li::before::before {
width: 40px
}
ul.List5>li::before::before {
margin-right: 4px
}
ul.List5>li::before::before {
left: -44px
}
ul.List5>li::before::before {
left: -44px
}
ul.List5>li::before::before {
left: -44px
}
ul.List5>li::before::before {
left: -44px
}